Repository ydb-platform/ydb-go-sdk, pull requests merged in 2024-09, with the labels that each got.

#1437 switched version of golangci-lint from v1.55.2 to 1.60.3
  .github/workflows/lint.yml
  .golangci.yml
  examples/go.mod
  examples/ttl_readtable/series.go
  internal/balancer/connections_state_test.go
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/credentials/oauth2.go
  internal/query/execute_query.go
  internal/query/result_set_range_test.go
  internal/table/client_test.go
  internal/table/retry.go
  internal/topic/topicreadercommon/one_time_reader.go
  internal/topic/topicwriterinternal/writer_grpc_mock_test.go
  internal/value/value.go
  internal/xerrors/join_test.go
  tests/slo/database/sql/storage.go
  tests/slo/go.mod
  tests/slo/internal/config/config.go
  tests/slo/internal/metrics/metrics.go
  tests/slo/native/table/storage.go
Labels: no changelog, no slo

#1434 `query.Executer.QueryResultSet` now returns `query.ClosableResultSet`
  CHANGELOG.md
  examples/basic/native/query/series.go
  internal/query/client.go
  internal/query/execute_query.go
  internal/query/range_experiment.go
  internal/query/result.go
  internal/query/result/result.go
  internal/query/result_go1.23_test.go
  internal/query/result_set.go
  internal/query/result_set_go1.23_test.go
  internal/query/result_test.go
  internal/query/session.go
  internal/query/transaction.go
  internal/xiter/xiter_go1.23.go
  query/client.go
  query/result.go
Labels: query-service

#1439 Update golang version to 1.23 in SLO Dockerfile
  tests/slo/Dockerfile
Labels: no changelog

#1440 Hide EOF error in recvMsg logs
  CHANGELOG.md
  log/driver.go
Labels: no changelog

#1442 internal/xlist changes
  internal/table/client.go
  internal/xlist/list.go
  internal/xlist/list_test.go
Labels: no changelog

#1443 internal/xsync changes
  internal/xsync/map.go
  internal/xsync/map_test.go
Labels: no changelog

#1444 internal/xerrors changes
  internal/xerrors/retryable.go
Labels: no changelog

#1445 trace changes
  CHANGELOG.md
  internal/pool/defaults.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/pool/stats.go
  internal/pool/trace.go
  internal/query/client.go
  internal/table/client.go
  log/table.go
  metrics/table.go
  trace/query.go
  trace/query_gtrace.go
  trace/table.go
  trace/table_gtrace.go
Labels: no changelog

#1423 internal pool implementation from table pool
  .github/workflows/slo.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  internal/pool/defaults.go
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/pool/trace.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/options/retry.go
  tests/integration/basic_example_native_test.go
  tests/slo/database/sql/main.go
  tests/slo/gorm/main.go
  tests/slo/internal/log/log.go
  tests/slo/internal/metrics/metrics.go
  tests/slo/internal/workers/metrics.go
  tests/slo/internal/workers/read.go
  tests/slo/internal/workers/workers.go
  tests/slo/internal/workers/write.go
  tests/slo/native/query/internal/main.go
  tests/slo/native/query/main.go
  tests/slo/native/query/storage.go
  tests/slo/native/query/with/pool/main.go
  tests/slo/native/table/main.go
  tests/slo/xorm/main.go
Labels: refactoring, query-service, pool

#1446 * Enabled by default usage of `internal/pool` in `internal/query.Client`
  CHANGELOG.md
  internal/query/client.go
  internal/query/config/config.go
Labels: query-service

#1447 replaced table client pool to internal/pool
  CHANGELOG.md
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/table/client.go
  internal/table/client_test.go
  internal/table/errors.go
  internal/table/retry.go
  internal/table/retry_test.go
  internal/table/session.go
  internal/table/session_test.go
Labels: pool

#1448 added lastErr from previous attemp in retry.RetryWithResult
  CHANGELOG.md
  internal/credentials/oauth2_test.go
  internal/pool/pool.go
  internal/table/retry_test.go
  retry/retry.go
Labels: no changelog

#1450 Added `balancers.PreferNearestDC[WithFallback]` balancers + Marked as deprecated `balancers.PreferLocalDC[WithFallback]` balancers
  CHANGELOG.md
  balancers/balancers.go
  balancers/balancers_test.go
  balancers/config.go
  balancers/config_test.go
  internal/balancer/balancer.go
  internal/balancer/config/routerconfig.go
  internal/balancer/local_dc_test.go
Labels: balancer

#1451 added test and example for explain query
  query/example_test.go
  tests/integration/query_execute_test.go
Labels: query-service

#1449 fixed log output for SLO
  internal/query/client.go
  internal/query/options/retry.go
  tests/slo/internal/metrics/metrics.go
  tests/slo/internal/workers/read.go
  tests/slo/internal/workers/write.go
  tests/slo/native/query/main.go
Labels: SLO

#1457 extracted query session controller logic into separated package
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/session.go
  internal/query/session/session.go
  internal/query/session/status.go
  internal/query/session_fixtures_test.go
  internal/query/session_status.go
  internal/query/session_test.go
  internal/query/transaction.go
  internal/query/transaction_test.go
  internal/session/status.go
Labels: no changelog, query-service, pool

#1458 * Added option `ydb.WithSessionPoolSessionIdleTimeToLive` for restric…
  CHANGELOG.md
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/query/errors.go
  internal/query/execute_query.go
  internal/query/execute_query_test.go
  internal/query/result.go
  internal/query/result_go1.23_test.go
  internal/query/result_test.go
  internal/query/session.go
  internal/query/session/session.go
  internal/query/session/status.go
  internal/query/transaction.go
  internal/query/transaction_fixtures_test.go
  internal/query/transaction_test.go
  internal/table/client.go
  internal/tx/id.go
  options.go
  tests/integration/query_execute_test.go
  tests/integration/query_tx_execute_test.go
Labels: bug, query-service, pool

#1461 * Fixed panic on usage metrics package from prometheus adapter on `tr…
  CHANGELOG.md
  metrics/driver.go
Labels: bug, metrics

#1464 * Fixed connections pool leak on failed `ydb.Open` call
  CHANGELOG.md
  driver.go
Labels: bug

#1473 update gofumpt in CI for use samve version as golangcilint
  .github/workflows/lint.yml
  tests/integration/database_sql_get_column_type_test.go
  tests/integration/database_sql_get_columns_test.go
  tests/integration/database_sql_get_index_columns_test.go
  tests/integration/database_sql_get_indexes_test.go
  tests/integration/database_sql_get_primary_keys_test.go
  tests/integration/database_sql_get_tables_test.go
  tests/integration/database_sql_is_column_exists_test.go
  tests/integration/database_sql_is_primary_key_test.go
  tests/integration/database_sql_is_table_exists_test.go
Labels: no changelog, no slo

#1472 Cdc helpers
  CHANGELOG.md
  tests/integration/topic_helpers_test.go
  topic/topicsugar/cdc-reader.go
  topic/topicsugar/iterators.go
Labels: no slo

#1471 * Added `ydb.WithLazyTx()` option for create lazy transactions on `query.Session.Begin` call
  CHANGELOG.md
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/query/session.go
  internal/topic/topicreaderinternal/transaction_mock_test.go
  internal/tx/id.go
  options.go
  query/example_test.go
  tests/integration/helpers_test.go
  tests/integration/query_tx_execute_test.go
Labels: query-service, tx

#1474 fix tests + added integration tests for YDB 24.2
  .github/workflows/tests.yml
  tests/integration/query_tx_execute_test.go
Labels: bug, CI

#1475 some refactor of experimental topic helpers
  CHANGELOG.md
  examples/topic/topicreader/topicreader_simple_iterators.go
  tests/integration/topic_helpers_test.go
  topic/topicsugar/cdc-reader.go
  topic/topicsugar/iterators.go
Labels: no slo

#1476 * Added `ydb.WithSessionPoolSessionUsageLimit()` option for limitation max count of session usage
  CHANGELOG.md
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/table/client.go
  internal/table/config/config.go
  options.go
Labels: pool

#1478 update genproto
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  tests/slo/go.mod
  tests/slo/go.sum
Labels: no changelog

#1484 special error for detect about written messages can be delivered to the server when write error happened.
  CHANGELOG.md
  internal/topic/topicwriterinternal/writer_reconnector.go
  internal/topic/topicwriterinternal/writer_reconnector_test.go
  topic/topicwriter/topicwriter.go
Labels: no slo

#1486 * Fixed nil pointer dereference panic on failed `ydb.Open`
  CHANGELOG.md
  driver.go
Labels: bug

#1488 * Removed `experimantal` comment for query service client
  CHANGELOG.md
  driver.go
  query/client.go
Labels: query-service

#1489 fixed example typo
  topic/topicwriter/topicwriter_test.go
Labels: no changelog, no slo
