Repository ydb-platform/ydb-go-sdk, pull requests merged in 2024-03, with the labels that each got.

#1083 added implementation of named scanner
  internal/query/errors.go
  internal/query/scanner_named.go
  internal/query/scanner_named_test.go
Labels: enhancement, no changelog, no slo, query-service

#1087 Generate traces for query service
  trace/query_gtrace.go
Labels: no changelog

#1088 Set query params
  internal/params/parameters.go
  internal/params/set.go
  internal/params/set_test.go
Labels: enhancement, no changelog

#1085 SLO native splitted to native/table and native/query
  .github/workflows/examples.yml
  .github/workflows/slo.yml
  examples/basic/native/query/README.md
  examples/basic/native/query/data.go
  examples/basic/native/query/main.go
  examples/basic/native/query/series.go
  examples/basic/native/table/README.md
  examples/basic/native/table/data.go
  examples/basic/native/table/main.go
  examples/basic/native/table/series.go
  query/do_options.go
  query/do_tx_options.go
  query/options.go
  query/transaction_control.go
  tests/integration/query_tx_execute_test.go
  tests/slo/native/query/main.go
  tests/slo/native/query/storage.go
  tests/slo/native/table/main.go
  tests/slo/native/table/storage.go
  trace/query.go
  trace/query_gtrace.go
Labels: no changelog

#1032 enable errname linter
  .golangci.yml
  CHANGELOG.md
  internal/conn/error_test.go
  internal/topic/topicreaderinternal/decoders.go
  internal/topic/topicreaderinternal/message.go
  internal/xcontext/context_error.go
  internal/xerrors/issues.go
  internal/xerrors/join.go
  internal/xerrors/join_test.go
  internal/xsql/conn.go
  internal/xsql/errors.go
  tests/integration/tx_test.go
  topic/topicreader/errors.go
Labels: student-projects

#1091 ScanStruct implementation
  internal/query/errors.go
  internal/query/row.go
  internal/query/scanner/data.go
  internal/query/scanner/errors.go
  internal/query/scanner/indexed.go
  internal/query/scanner/indexed_test.go
  internal/query/scanner/named.go
  internal/query/scanner/named_test.go
  internal/query/scanner/struct.go
  internal/query/scanner/struct_options.go
  internal/query/scanner/struct_test.go
  internal/query/scanner_data.go
  internal/query/scanner_indexed.go
  internal/query/scanner_named.go
  internal/query/scanner_struct.go
  internal/value/errors.go
  internal/value/value.go
  query/named.go
  query/named_test.go
  query/result.go
  tests/integration/query_execute_test.go
Labels: enhancement, query-service

#1094 fixed `optional.castTo` with reflect
  internal/types/types_test.go
  internal/value/errors.go
  internal/value/nullable.go
  internal/value/value.go
  internal/value/value_test.go
  table/types/types_test.go
  table/types/value.go
  table/types/value_test.go
  tests/integration/query_execute_test.go
Labels: bug, enhancement

#1095 fixed slo and optional.castTo
  .github/workflows/slo.yml
  internal/value/value.go
  tests/slo/Dockerfile
  tests/slo/internal/generator/row.go
  tests/slo/native/query/storage.go
Labels: bug, CI

#1098 basic example over query service + excluded from CI tests over YDB versions `22.5`, `23.1`, `23.2` + switched ydb docker image to `hub.docker.com`
  .github/workflows/examples.yml
  .github/workflows/slo.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  examples/basic/native/query/data.go
  examples/basic/native/query/main.go
  examples/basic/native/query/series.go
  examples/basic/native/table/main.go
  examples/basic/native/table/series.go
  internal/params/list.go
Labels: query-service

#1099 Implement sessions pool and switch query service client to
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/pool.go
Labels: enhancement, query-service

#1106 lazy transactions: query.WithCommit() option + tests
  internal/query/transaction.go
  internal/query/transaction_test.go
  query/execute_options.go
  tests/integration/query_execute_test.go
Labels: query-service

#1108 fix SLO over query service client
  tests/slo/native/query/storage.go
Labels: bug, query-service

#1107 fix run query service client on YDB 24.1 (feature flag `enable_prepared_ddl`)
  .github/workflows/examples.yml
  .github/workflows/tests.yml
Labels: bug, query-service

#1105 some fixes of query service client
  internal/pool/pool.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/execute_query.go
  internal/query/result.go
  internal/query/session.go
  internal/query/transaction_test.go
Labels: bug, query-service

#1109 added `sugar.Result` for iterate over `query.Result`
  query/named.go
  query/result.go
  sugar/result.go
  tests/integration/sugar_result_test.go
  tests/slo/native/query/storage.go
Labels: sugar, query-service

#1117 logging for `query.{Do,DoTx}` + refactoring of `query.{Do,DoTx}Options`
  CHANGELOG.md
  internal/conn/grpc_client_stream.go
  internal/pool/pool.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/options.go
  internal/query/errors.go
  internal/query/execute_query.go
  internal/query/execute_query_test.go
  internal/query/options/execute.go
  internal/query/options/retry.go
  internal/query/result.go
  internal/query/result_set_test.go
  internal/query/result_test.go
  internal/query/session.go
  internal/query/transaction.go
  internal/query/transaction_test.go
  internal/query/tx/control.go
  internal/query/tx/settings.go
  log/query.go
  options.go
  query/client.go
  query/do_options.go
  query/do_tx_options.go
  query/example_test.go
  query/options.go
  query/session.go
  query/transaction.go
  retry/retry_test.go
  tests/integration/query_execute_test.go
  tests/integration/query_tx_execute_test.go
  tests/slo/native/query/storage.go
  trace/details.go
  trace/details_test.go
  trace/query.go
  trace/query_gtrace.go
Labels: bug, enhancement, query-service

#1120 * Fixed cases when some option is nil
  CHANGELOG.md
  balancers/config.go
  config/config.go
  internal/backoff/backoff.go
  internal/conn/conn.go
  internal/coordination/config/config.go
  internal/credentials/access_error.go
  internal/credentials/access_token.go
  internal/credentials/anonymous.go
  internal/credentials/static.go
  internal/discovery/config/config.go
  internal/endpoint/endpoint.go
  internal/meta/meta.go
  internal/meta/trace_id.go
  internal/pool/pool.go
  internal/query/config/config.go
  internal/query/options/execute.go
  internal/query/options/retry.go
  internal/query/scanner/struct.go
  internal/query/tx/control.go
  internal/query/tx/settings.go
  internal/ratelimiter/config/config.go
  internal/ratelimiter/options/acquire.go
  internal/repeater/repeater.go
  internal/scheme/client.go
  internal/scheme/config/config.go
  internal/scheme/options_test.go
  internal/scripting/config/config.go
  internal/stack/record.go
  internal/table/client.go
  internal/table/config/config.go
  internal/table/scanner/result.go
  internal/table/session.go
  internal/topic/topicclientinternal/client.go
  internal/topic/topicreaderinternal/reader.go
  internal/xerrors/retryable.go
  internal/xerrors/stacktrace.go
  internal/xrand/xrand.go
  internal/xsql/conn.go
  internal/xsql/dsn_test.go
  internal/xtest/manytimes.go
  log/logger.go
  options.go
  retry/retryable_error.go
  table/options/options.go
  table/table.go
  tests/integration/helpers_test.go
  testutil/session.go
  trace/details.go
Labels: bug

#1121 * Added metrics over query service internals
  CHANGELOG.md
  internal/query/client.go
  internal/query/session.go
  internal/query/session_status.go
  log/query.go
  metrics/query.go
  metrics/traces.go
  query/session.go
  trace/query.go
  trace/query_gtrace.go
Labels: query-service

#1112 params builder for dict
  CHANGELOG.md
  internal/params/dict.go
  internal/params/dict_test.go
  internal/params/parameters.go
  internal/xtest/call_method.go
  internal/xtest/call_method_test.go
Labels: no slo, params-builder

#1123 * Added client pid to each gRPC requests to YDB over header `x-ydb-client-pid`
  CHANGELOG.md
  internal/meta/context.go
  internal/meta/context_test.go
  internal/meta/headers.go
  internal/meta/meta.go
  internal/meta/test/meta_test.go
Labels: enhancement, no slo

#1124 Add PG type as parameter support
  CHANGELOG.md
  internal/params/builder_test.go
  internal/params/parameters.go
  internal/params/pg.go
  internal/pg/pgconst.go
  internal/types/types.go
  internal/types/types_test.go
  internal/value/value.go
  internal/value/value_test.go
Labels: params-builder, pg

#1125 * refactoring of `internal/pool`
  .github/workflows/slo.yml
  CHANGELOG.md
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  internal/pool/defaults.go
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/pool/trace.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/query/defaults.go
  internal/query/session.go
  internal/query/session_status.go
  internal/query/transaction.go
  internal/session/status.go
  internal/stack/function_id.go
  internal/stack/record.go
  internal/xcontext/context_with_done.go
  internal/xcontext/context_with_done_test.go
  internal/xerrors/check.go
  internal/xerrors/join.go
  internal/xerrors/join_test.go
  internal/xsync/once.go
  internal/xsync/once_test.go
  log/query.go
  metrics/query.go
  options.go
  tests/slo/go.mod
  tests/slo/go.sum
  tests/slo/native/query/storage.go
  trace/query.go
  trace/query_gtrace.go
Labels: query-service

#1130 changed in `ydb.ParamsBuilder()` container type constructors from `List()...Build()` to `BeginList()...EndList()` (`Dict`, `Set`, `Optional`)
  CHANGELOG.md
  example_test.go
  examples/basic/native/query/main.go
  examples/basic/native/query/series.go
  examples/go.mod
  examples/go.sum
  internal/params/builder_test.go
  internal/params/dict.go
  internal/params/dict_test.go
  internal/params/list.go
  internal/params/list_test.go
  internal/params/optional.go
  internal/params/optional_test.go
  internal/params/parameters.go
  internal/params/set.go
  internal/params/set_test.go
  query/example_test.go
  tests/slo/native/query/storage.go
Labels: params-builder

#1133 logs over query service + fix conns pessimization
  driver.go
  internal/conn/pool.go
  internal/pool/pool.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/session.go
  log/driver.go
  log/query.go
  tests/slo/go.mod
  tests/slo/go.sum
  tests/slo/native/query/storage.go
Labels: bug, query-service

#1135 added node check when session check alive
  internal/query/client.go
  internal/query/client_test.go
  internal/query/result_set.go
  internal/query/session.go
  tests/integration/query_execute_test.go
  tests/integration/query_tx_execute_test.go
Labels: no changelog, query-service

#1136 * Fixed function id stringification for generic type function calls
  CHANGELOG.md
  internal/stack/function_id_test.go
  internal/stack/record.go
Labels: bug

#1137 Traces
  CHANGELOG.md
  examples/go.mod
  examples/go.sum
  examples/serverless/url_shortener/service.go
  internal/balancer/balancer.go
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/defaults.go
  internal/query/execute_query.go
  internal/query/result.go
  internal/query/result_test.go
  internal/query/session.go
  internal/table/client.go
  internal/xsql/tx.go
  internal/xsql/tx_fake.go
  log/driver.go
  log/query.go
  metrics/driver.go
  metrics/query.go
  retry/retry.go
  tests/slo/go.mod
  tests/slo/go.sum
  tests/slo/native/query/storage.go
  trace/details.go
  trace/driver.go
  trace/driver_gtrace.go
  trace/query.go
  trace/query_gtrace.go
  trace/retry.go
  trace/retry_gtrace.go
  trace/sql.go
  trace/sql_gtrace.go
  trace/table.go
  trace/table_gtrace.go
Labels: query-service

#1141 * Added `trace.Query.OnSessionBegin` event
  CHANGELOG.md
  internal/query/execute_query.go
  internal/query/execute_query_test.go
  internal/query/result.go
  internal/query/result_set.go
  internal/query/result_set_test.go
  internal/query/result_test.go
  internal/query/row.go
  internal/query/scanner/indexed.go
  internal/query/scanner/named.go
  internal/query/scanner/struct.go
  internal/query/session.go
  log/query.go
  metrics/query.go
  tests/slo/native/query/storage.go
  trace/details.go
  trace/details_test.go
  trace/query.go
  trace/query_gtrace.go
Labels: query-service

#1142 Query service fixes
  CHANGELOG.md
  config/config.go
  driver.go
  internal/balancer/balancer.go
  internal/conn/config.go
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/conn/pool.go
  internal/coordination/client.go
  internal/discovery/discovery.go
  internal/pool/defaults.go
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/pool/stats/stats.go
  internal/pool/trace.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/query/errors.go
  internal/query/execute_query.go
  internal/query/options/execute.go
  internal/query/result.go
  internal/query/result_test.go
  internal/query/session.go
  internal/query/session_test.go
  internal/query/transaction.go
  internal/ratelimiter/client.go
  internal/scheme/client.go
  internal/scripting/client.go
  internal/table/client.go
  internal/table/client_test.go
  internal/table/session_test.go
  internal/topic/topicclientinternal/client.go
  internal/xcontext/context_with_done.go
  internal/xcontext/context_with_done_test.go
  internal/xsync/locked.go
  internal/xsync/locked_test.go
  internal/xsync/once.go
  internal/xsync/once_test.go
  internal/xtest/grpclogger.go
  log/driver.go
  log/query.go
  metrics/query.go
  metrics/traces.go
  options.go
  query/session.go
  query/stats.go
  tests/integration/discovery_test.go
  tests/integration/helpers_test.go
  tests/integration/query_execute_test.go
  tests/integration/topic_grpc_stopper_helper_test.go
  tests/slo/native/query/storage.go
  trace/driver.go
  trace/driver_gtrace.go
  trace/query.go
  trace/query_gtrace.go
  trace/table.go
  trace/table_gtrace.go
Labels: query-service

#1145 Performance of QueryService client over SLO + refactoring of traces
  CHANGELOG.md
  driver.go
  internal/balancer/balancer.go
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/conn/pool.go
  internal/pool/errors.go
  internal/pool/pool.go
  internal/pool/pool_test.go
  internal/query/client.go
  internal/query/client_test.go
  internal/query/config/config.go
  internal/query/execute_query.go
  internal/query/execute_query_test.go
  internal/query/session.go
  internal/query/session_test.go
  internal/query/transaction.go
  internal/query/transaction_test.go
  internal/table/client.go
  internal/table/session.go
  internal/table/transaction.go
  internal/topic/topicwriterinternal/writer_reconnector.go
  internal/topic/topicwriterinternal/writer_single_stream.go
  internal/xcontext/without_deadline.go
  internal/xerrors/check.go
  internal/xerrors/operation.go
  internal/xerrors/retryable.go
  internal/xerrors/transport.go
  internal/xerrors/xerrors.go
  internal/xsql/badconn/badconn.go
  internal/xsql/badconn/badconn_test.go
  internal/xsql/conn.go
  internal/xsql/errors.go
  internal/xsql/tx.go
  internal/xsync/locked.go
  internal/xsync/locked_test.go
  log/retry.go
  log/sql.go
  log/table.go
  metrics/retry.go
  options.go
  retry/errors_data_test.go
  retry/mode.go
  retry/retry.go
  retry/retry_test.go
  retry/retryable_error.go
  retry/sql_test.go
  tests/integration/with_trace_retry_test.go
  tests/slo/database/sql/storage.go
  tests/slo/gorm/storage.go
  tests/slo/native/query/main.go
  tests/slo/native/query/storage.go
  tests/slo/native/table/storage.go
  tests/slo/xorm/storage.go
  trace/retry.go
  trace/retry_gtrace.go
  trace/table.go
  trace/table_gtrace.go
Labels: slo only

#1152 revert integration tests
  tests/integration/discovery_test.go
  tests/integration/helpers_test.go
  tests/integration/query_execute_test.go
  tests/integration/topic_grpc_stopper_helper_test.go
Labels: query-service

#1155 simplify lastUsage code
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/conn/last_usage.go
  internal/conn/last_usage_test.go
Labels: no changelog

#1114 Add codegeneration for stack.FunctionID
  .github/workflows/check-codegen.yml
  CHANGELOG.md
  driver.go
  internal/balancer/balancer.go
  internal/cmd/gstack/main.go
  internal/cmd/gstack/utils/utils.go
  internal/conn/conn.go
  internal/conn/grpc_client_stream.go
  internal/conn/pool.go
  internal/discovery/discovery.go
  internal/meta/meta.go
  internal/pool/pool.go
  internal/query/client.go
  internal/query/result.go
  internal/query/result_set.go
  internal/query/row.go
  internal/query/session.go
  internal/query/transaction.go
  internal/repeater/repeater.go
  internal/scheme/client.go
  internal/scripting/client.go
  internal/stack/function_id_test.go
  internal/table/client.go
  internal/table/session.go
  internal/table/statement.go
  internal/table/transaction.go
  internal/xresolver/xresolver.go
  internal/xsql/conn.go
  internal/xsql/connector.go
  internal/xsql/stmt.go
  internal/xsql/tx.go
  internal/xsql/tx_fake.go
  retry/retry.go
  retry/sql.go
  with.go
Labels: performance

#1156 pid singletone
  internal/meta/meta.go
Labels: no changelog

#1157 Style fix
  driver.go
  internal/conn/grpc_client_stream.go
  internal/conn/pool.go
  internal/discovery/discovery.go
  internal/meta/meta.go
  internal/query/client.go
  internal/query/result.go
  internal/query/result_set.go
  internal/query/row.go
  internal/query/session.go
  internal/scheme/client.go
  internal/scripting/client.go
  internal/table/client.go
  internal/table/session.go
  internal/xsql/conn.go
  internal/xsql/stmt.go
Labels: no changelog

#1162 added xtest.ToJSON()
  internal/params/builder_test.go
  internal/params/dict_test.go
  internal/params/list_test.go
  internal/params/optional_test.go
  internal/params/pg_test.go
  internal/params/set_test.go
  internal/params/struct_test.go
  internal/params/tuple_test.go
  internal/xtest/to_json.go
  internal/xtest/to_json_test.go
Labels: no changelog

#1160 Coordination service client with Semaphore support
  CHANGELOG.md
  coordination/coordination.go
  coordination/errors.go
  coordination/example_test.go
  coordination/options/options.go
  examples/coordination/README.md
  examples/coordination/lock/main.go
  examples/coordination/workers/main.go
  examples/go.mod
  internal/coordination/client.go
  internal/coordination/client_test.go
  internal/coordination/config/config.go
  internal/coordination/conversation/conversation.go
  internal/coordination/grpc_client_mock_test.go
  internal/coordination/session.go
  internal/operation/context.go
  internal/operation/params.go
  log/coordination.go
  options.go
  tests/integration/coordination_test.go
  trace/coordination.go
  trace/coordination_gtrace.go
Labels: enhancement

#1165 * Renamed `db.Coordination().CreateSession()` to `db.Coordination().Session()` for compatibility with protos
  CHANGELOG.md
  coordination/coordination.go
  coordination/example_test.go
  coordination/options/options.go
  examples/coordination/lock/main.go
  examples/coordination/workers/main.go
  internal/coordination/client.go
  internal/coordination/session.go
  log/coordination.go
  tests/integration/coordination_test.go
  trace/coordination.go
  trace/coordination_gtrace.go
Labels: documentation, coordination, semaphore

#1166 * Changed default transaction control to `NoTx` for execute query through query service client
  CHANGELOG.md
  internal/query/execute_query_test.go
  internal/query/tx/control.go
  query/session.go
Labels: query-service

#1167 fix flaky logger test
  log/logger_test.go
Labels: bug
