Repository ydb-platform/ydb-go-sdk, pull requests merged in 2024-10, with the labels that each got.

#1493 fixed last error messages
  tests/slo/internal/workers/read.go
  tests/slo/internal/workers/write.go
Labels: no changelog, SLO

#1494 refactoring of internal/table.Client.CreateSession retryer usage
  internal/table/client.go
Labels: no changelog, refactoring

#1491 Support bulk upsert from scv, arrow and ydb internal formats
  CHANGELOG.md
  internal/table/client.go
  internal/table/session.go
  table/table.go
  tests/integration/helpers_test.go
  tests/integration/table_bulk_upsert_test.go
  tests/integration/testdata/bulk_upsert_test_data.arrow
  tests/integration/testdata/bulk_upsert_test_schema.arrow
  tests/integration/testdata/make_test_arrow.py
  trace/table.go
  trace/table_gtrace.go
Labels: table

#1497 Support of BulkUpsert over table client instead table session
  CHANGELOG.md
  internal/table/client.go
  internal/table/session.go
  table/table.go
  table/table_test.go
  tests/integration/helpers_test.go
  tests/integration/table_bulk_upsert_test.go
  tests/integration/testdata/bulk_upsert_test_data.arrow
  tests/integration/testdata/bulk_upsert_test_schema.arrow
  tests/integration/testdata/make_test_arrow.py
  trace/table.go
  trace/table_gtrace.go
Labels: enhancement, table

#1499 * Added `meta.WithTraceParent` context modifier for explicit putting traceparent header into grpc calls
  CHANGELOG.md
  internal/meta/context.go
  internal/meta/headers.go
  meta/context.go
  tests/integration/connection_test.go
Labels: otel

#1502 * Added session info into `trace.TableSessionBulkUpsertStartInfo`
  CHANGELOG.md
  internal/table/session.go
  trace/table.go
  trace/table_gtrace.go
Labels: table

#1505 canonization of current uuid behavior
  tests/integration/query_regression_test.go
  tests/integration/table_regression_test.go
Labels: no changelog, no slo

#1512 add database uuid tests
  tests/integration/database_sql_regression_test.go
Labels: no changelog, no slo

#1518 * Added `spans.Retry` constructor of `trace.Retry`
  CHANGELOG.md
  spans/retry.go
  spans/traces.go
Labels: otel, OpenTelemetry

#1521 * Added `query.WithPoolID()` execute option
  CHANGELOG.md
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  internal/query/execute_query.go
  internal/query/options/execute.go
  internal/query/options/execute_test.go
  internal/query/transaction_test.go
  query/execute_options.go
  query/session.go
  tests/slo/go.mod
  tests/slo/go.sum
Labels: query-service

#1522 * Renamed `query.WithPoolID()` into `query.WithResourcePool()`
  CHANGELOG.md
  internal/query/execute_query.go
  internal/query/options/execute.go
  internal/query/options/execute_test.go
  query/execute_options.go
Labels: query-service

#1525 uuid-fix-break
  CHANGELOG.md
  internal/params/dict.go
  internal/params/dict_test.go
  internal/params/list.go
  internal/params/list_test.go
  internal/params/optional.go
  internal/params/optional_test.go
  internal/params/parameters.go
  internal/params/set.go
  internal/params/set_test.go
  internal/params/struct.go
  internal/params/struct_test.go
  internal/params/tuple.go
  internal/params/tuple_test.go
  internal/params/variant_struct.go
  internal/params/variant_struct_test.go
  internal/params/variant_tuple.go
  internal/params/variant_tuple_test.go
Labels: no slo

#1528 Do not run tests if label `no tests`
  .github/workflows/tests.yml
Labels: no slo

#1516 Add New GitHub Action for SLO Tests Integration with SDK
  .github/workflows/slo.yml
  .gitignore
  tests/slo/database/sql/main.go
  tests/slo/gorm/main.go
  tests/slo/internal/metrics/metrics.go
  tests/slo/internal/metrics/span.go
  tests/slo/internal/workers/read.go
  tests/slo/internal/workers/workers.go
  tests/slo/internal/workers/write.go
  tests/slo/native/query/main.go
  tests/slo/native/table/main.go
  tests/slo/xorm/main.go
Labels: no tests

#1532 Run SLO Tests on push master
  .github/workflows/slo.yml
  tests/slo/internal/metrics/metrics.go
Labels: no tests
