Repository ydb-platform/ydb-go-sdk, pull requests merged in 2025-04, with the labels that each got.

#1720 * Improved the `ydb.WithSessionPoolSessionUsageLimit` option for allow `time.Duration` as argument type for limit max session time to live since create time
  CHANGELOG.md
  internal/pool/pool.go
  internal/query/client.go
  internal/query/config/config.go
  internal/query/config/options.go
  internal/table/client.go
  internal/table/config/config.go
  options.go
Labels: pool

#1721 added benchmarks for Scan, ScanNamed, ScanStruct
  internal/query/row_test.go
  internal/table/scanner/perfomance_test.go
  internal/table/scanner/scanner_data_test.go
Labels: CI, query-service, benchmark

#1727 show ydb server version before start tests
  .github/workflows/tests.yml
Labels: no changelog, no slo, no examples, no lint

#1729 Drop package internal/allocator
  CHANGELOG.md
  internal/allocator/allocator.go
  internal/params/builder_test.go
  internal/params/dict_test.go
  internal/params/list_test.go
  internal/params/optional_test.go
  internal/params/parameters.go
  internal/params/parameters_test.go
  internal/params/pg_test.go
  internal/params/set_test.go
  internal/params/struct_test.go
  internal/params/tuple_test.go
  internal/params/variant_struct_test.go
  internal/params/variant_tuple_test.go
  internal/query/client.go
  internal/query/execute_query.go
  internal/query/execute_query_test.go
  internal/query/options/execute.go
  internal/query/options/execute_test.go
  internal/query/transaction.go
  internal/scripting/client.go
  internal/table/client.go
  internal/table/data_query.go
  internal/table/scanner/result_test.go
  internal/table/session.go
  internal/table/session_test.go
  internal/table/statement.go
  internal/table/transaction.go
  internal/tx/control.go
  internal/tx/control_test.go
  internal/tx/settings.go
  internal/types/types.go
  internal/value/value.go
  internal/value/value_test.go
  params_map.go
  params_test.go
  spans/helpers.go
  table/options/models.go
  table/options/options.go
  table/options/options_test.go
  table/table.go
  table/table_test.go
  testutil/compare.go
  testutil/compare_test.go
Labels: no changelog, refactoring

#1733 * Refactored internal client balancer: added singleton for getting gRPC-connection (auto dial and auto reconnect on non-ready state) for use in discovery attempts
  CHANGELOG.md
  internal/balancer/balancer.go
  internal/balancer/local_dc_test.go
Labels: balancer, discovery

#1735 refactoring of internal/balancer logic: delete unnesesary call meta context, renamed internal funcs for better understanding of balancer internals
  internal/balancer/balancer.go
Labels: no changelog, refactoring, balancer
